{% extends "layout.html" %}

{% block content %}
<div class="content">
    <div class="text-block">
        <h2>About Me</h2>
      <p>
        I'm Soumya Ranjan Nayak, a passionate B.Tech student specializing in Computer Science and Engineering at GIET University. 
        With a strong interest in software development, problem-solving, and technology, I enjoy turning ideas into real-world projects.
      </p>
    </div>
</div>
<div class="content">
<div class="text-block">
      <h2>Education</h2>
      <ul>
        <li><strong>B.Tech in Computer Science and Engineering</strong><br>
            GIET University, Gunupur<br>
            2023 - Present</li>
        <li><strong>Class 12th (CHSE Board)</strong><br>
            Gyana Vikash Higher Secondary School, Berhampur <br>
            2023</li>
        <li><strong>Class 10th (BSE Board)</strong><br>
            Saraswati Sishu Vidya Mandir,Kabi Surya Nagar<br>
            2021</li>
      </ul>
</div>
</div>
<div class="content">
<div class="text-block">
      <h2>Achievements</h2>
      <ul>
        <li>Built and deployed a Flask-based Portfolio as a personal project.</li>
        <li>Completed a certified Machine Learning basics course on Unified Mentor as an Intern.</li>
        <li>Presented a project at the GIET Tech Fest 2024.</li>
      </ul>
</div>
</div>
{% endblock content %}

